@*(c) 2020 Manabu Tonosaki
    Licensed under the MIT license.*@
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Investigation Menu</h1>
        <p>[At Server]</p>
        <p>
            @Html.ActionLink("Information HTTP, Server", "", "Info")
        </p>
        <p>
            @Html.ActionLink("PING to '127.0.0.1'", "Ping", new PingModel
            {
                Ip = "127.0.0.1",
            })
        </p>
        <p>
            @Html.ActionLink("Resolve DNS host name 'localhost'", "Dns", new DnsModel
            {
                Host = "localhost",
            })
        </p>
        <p>
            @Html.ActionLink("Azure SQL Server Control", "", "SqlServer")
        </p>
        <p>
            @Html.ActionLink("WebAPI Test", "", "Call")
        </p>
        <p>
            @Html.ActionLink("KeyVault Test", "", "KeyVault")
        </p>
        <p>
            @Html.ActionLink("EventHub Test", "", "EventHub")
        </p>
        <p>
            @Html.ActionLink("Storage Test", "", "Storage")
        </p>
        <p>
            @Html.ActionLink("Azure Cache for Redis Test", "", "Redis")
        </p>
        <p>
            @Html.ActionLink("Controller for Health check", "", "Health")
        </p>
        <p></p>
        <p><a href="https://github.com/tmctono/WebInvestigation/blob/master/README.md">About...</a></p>
    </div>
