@*(c) 2020 Manabu Tonosaki
    Licensed under the MIT license.*@

@{
    ViewData["Title"] = "Index";
}
@model WebInvestigation.Models.EventHubModel

<style>
    table th, table td {
        border: solid 1px #ccc;
        font-size: small;
        font-family: Courier New, Courier, monospace;
        font-weight: normal;
        color: black;
        vertical-align: top;
        padding-left: 4px;
        padding-right: 4px;
    }

    table th {
        color: #cc6400;
        background: #fff5e5;
    }
</style>

<h1>EventHub Tester</h1>

@using (Html.BeginForm("", "EventHub", FormMethod.Post, new { id="FormEventHub", onsubmit = "OnSubmitClicked(event)" }))
{
    <div id="SendPart">
    <div>
        @Html.LabelFor(m => m.ConnectionString)
        @Html.TextBoxFor(m => m.ConnectionString, new { @class = "FullWidthInput" })
    </div>
    <div style="margin-top:16px;">
        @Html.LabelFor(m => m.EventHubName)
        @Html.TextBoxFor(m => m.EventHubName, new { @class = "FullWidthInput" })
    </div>
    <div style="margin-top:16px;">
        @Html.LabelFor(m => m.ConsumerGroupName)
        @Html.TextBoxFor(m => m.ConsumerGroupName, new { @class = "FullWidthInput" })
    </div>
    <div style="margin-top:16px;">
        @Html.LabelFor(m => m.StorageConnectionString)
        @Html.TextBoxFor(m => m.StorageConnectionString, new { @class = "FullWidthInput" })
    </div>
    <div style="margin-top:16px;">
        @Html.LabelFor(m => m.StorageContainerName)
        @Html.TextBoxFor(m => m.StorageContainerName, new { @class = "FullWidthInput" })
    </div>
    <div style="margin-top:16px;">
        @Html.LabelFor(m => m.Message)
        @Html.TextBoxFor(m => m.Message, new { @class = "FullWidthInput" })
    </div>
    <div style="margin-top:16px;">
        @Html.CheckBoxFor(m => m.ReceiveRequested, new { style = "width: 0; visibility: hidden;" })
        <input type="button" style="margin: 4px;" value="Send" onclick="javascript: OnSendButtonClicked(event);" />
        <input type="button" style="margin: 4px;" value="Receive" onclick="javascript: OnReceiveButtonClicked(event);" />
        <input type="submit" style="visibility: hidden; width: 0;" value="submit" />
    </div>
    </div>
    <hr />
    <div id="ResultArea" style="margin-top: 24px;">
        <div>@Html.Raw(Model.ActionMessage?.Replace(Environment.NewLine,"<br />"))</div>
    </div>

    @if(Model.PartitionInfo != null )
    {
        <div>
            <table>
                <tr>
                    <th>Partition ID</th>
                    <th>BeginSequenceNumber</th>
                    <th>LastEnqueuedOffset</th>
                    <th>LastEnqueuedSequenceNumber</th>
                    <th>LastEnqueuedTimeUtc</th>
                </tr>

                @for( var i = 0; i < 32; i++ )
                {
                    @if( Model.PartitionInfo[i] != null )
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Model.PartitionInfo[i]?.BeginSequenceNumber</td>
                            <td>@Model.PartitionInfo[i]?.LastEnqueuedOffset</td>
                            <td>@Model.PartitionInfo[i]?.LastEnqueuedSequenceNumber</td>
                            <td>@Model.PartitionInfo[i]?.LastEnqueuedTimeUtc.ToString("yyyy/MM/dd HH:mm:ss")</td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
}


@section scripts {
    <script type="text/javascript">
        var isSubmitOnly = true;
        const OnSendButtonClicked = (e) => {
            $("#ResultArea").text("Waiting EventHub response...");
            $("#ReceiveRequested").prop('checked', false);
            isSubmitOnly = false;
            $("#FormEventHub").submit();
        };

        const OnReceiveButtonClicked = (e) => {
            $("#ResultArea").text("Listening EventHub message about few seconds...");
            $("#ReceiveRequested").prop('checked', true);
            isSubmitOnly = false;
            $("#FormEventHub").submit();
        };

        const OnSubmitClicked = (e) => {
            if (isSubmitOnly) {
                OnSendButtonClicked(e);
            }
        };

        $(document).ready(() => {
        });
    </script>
}
